.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  border-bottom: 2px solid var(--color-blue-400);
  position: relative;

}

.bullet {
  height: 0.75rem;
  width: 0.75rem;
  background-color: var(--color-white);
  border-radius: 50%;
}

.header-title {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  gap: 6px;
}

.header-button {
  background-color: var(--color-blue-600);
  border: none;
  cursor: pointer;
}

.header-menu {
  background-color: var(--color-blue-600);
  position: absolute;
  padding: 2.3rem 0;
  width: 100vw;
  top: 4.75rem;
  text-align: center;

  ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  a {
    font-size: 2rem;
    color: var(--color-white);

    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 6px;
    }
  }
}

@media (min-width: 48rem) {
  .header {
    padding: 1.5rem 2.5rem;
  }

  .header-menu {
    height: 100vh;
    width: var(--desktop-stat-column);
    right: 0;
    padding: 2.3rem 2.5rem;
    text-align: end;

    a {
      font-size: 1.5rem;
    }
  }
}