.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 21.25rem;
  padding: 2rem;
  border-bottom: 2px solid var(--color-blue-400);
  gap: 1.5rem;

  .hero-title {
    font-size: 2.75rem;
    font-weight: 400;
    line-height: 1.1;
  }

  .hero-text {
    font-weight: 300;
    line-height: 1.5;
    max-width: 19rem;
  }
}

@media (min-width: 48rem) {
  .hero {
    border-right: 2px solid var(--color-blue-400);
    padding-inline: 2.5rem;
    
    .hero-title {
      max-width: 31.5rem;
      font-size: 4rem;
      font-weight: 500;
    }

    .hero-text {
      max-width: 29rem;
    }
  }
}